
.btnCancelarModalDe {
    background-color: #ffcccb; 
    border-color: #ff6347; 
    color: #ff6347; 
    font-weight: bold;
    margin: 0 20px;
}

.btnCancelarModalDe:hover {
    background-color: #ffb6c1; 
    border-color: #ff6347; 
    color: #fff; 
    margin: 0 30px;
}
.modal-header-title {
    display: flex;
    justify-content: center; 
 
}